<section class="bg-white dark:bg-gray-900">
  <div class="container px-6 py-16 mx-auto text-center">
    <div class="max-w-lg mx-auto">
      <h1 class="text-5xl font-extrabold text-center lg:text-7xl 2xl:text-7xl">
        <span class="text-transparent bg-gradient-to-br bg-clip-text from-teal-500 via-indigo-500 to-sky-500 dark:from-teal-200 dark:via-indigo-300 dark:to-sky-500">
            Jean
        </span>
        <span class="text-transparent bg-gradient-to-tr bg-clip-text from-blue-500 via-pink-500 to-red-500 dark:from-sky-300 dark:via-pink-300 dark:to-red-500">
            Philippe
        </span>
      </h1>
      <p class="max-w-3xl mx-auto mt-6 text-lg text-center text-gray-700 dark:text-white md:text-xl">
          Full-Stack Web Developer
      </p>
    </div>
    <div class="flex justify-center mt-10">
        <img class="object-cover w-full h-96 rounded-xl lg:w-4/5" src="https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" />
    </div>
  </div>
</section>